img{
    position: relative;
    z-index: 1;
    top: 0px;
}
p{
    position: absolute;
    top: 20px;
    z-index: 2;
    color: #fff;
}
.imgProfile{
    width: 30px;
    height: 30px;
    object-fit:cover; /*this property does the magic*/
    border-radius:50%;
    border: seashell;
}

.avatar{
    width: 30px;
    height: 30px;
    background-size:cover; /*this property does the magic*/
    border-radius:50%;
}